InsuranceSocialNetwork/InsuranceBackoffice/bin/
InsuranceSocialNetwork/InsuranceBackoffice/obj/
InsuranceSocialNetwork/InsuranceSocialNetworkBusiness/bin/
InsuranceSocialNetwork/InsuranceSocialNetworkBusiness/obj/
InsuranceSocialNetwork/InsuranceSocialNetworkCore/bin/
InsuranceSocialNetwork/InsuranceSocialNetworkCore/obj/
InsuranceSocialNetwork/InsuranceSocialNetworkDAL/bin/
InsuranceSocialNetwork/InsuranceSocialNetworkDAL/obj/
InsuranceSocialNetwork/InsuranceSocialNetworkDatabase/bin/
InsuranceSocialNetwork/InsuranceSocialNetworkDatabase/obj/
InsuranceSocialNetwork/InsuranceSocialNetworkDTO/bin/
InsuranceSocialNetwork/InsuranceSocialNetworkDTO/obj/
InsuranceSocialNetwork/InsuranceWebsite/bin/
InsuranceSocialNetwork/InsuranceWebsite/obj/
InsuranceSocialNetwork/InsuranceWebsite/Web.config
InsuranceSocialNetwork/InsuranceWebsite/Commons/ConfigurationSettings.cs
