
<div style="width:100%; height:180px; background-color:#4B5C66; padding-left: 10%; padding-right: 10%;">
    <a href="@Url.Action("Index", "Home")" title="@Resources.Resources.Home"><img src="~/Content/logos/logo_termos_condicoes_login_rede_social_falar_seguros_AF.png" style="max-height:150px; padding-top: 20px;" /></a>
</div>

<div style="width:100%; height:90px; background-color:#00C1DE; padding-top: 30px; padding-left: 10%; padding-right: 10%;">
    <h2 style="color:#fff; margin:0px; font-weight:bold;">@Resources.Resources.CookieUsagePolicy</h2>
</div>

<div style="padding-left: 10%; padding-right: 10%; color:#4B5C66; padding-top: 20px; padding-bottom: 20px; text-align: justify; ">

    <p>
        O propósito desta política de cookies é informá-lo sobre o uso de cookies ou tecnologias de armazenamento similares (doravante designadas por “cookies”) no nosso site FALARSEGUROS.PT
    </p>
    <p>

        1. O que são cookies?
    </p>
    <p>
        Os cookies são pequenos ficheiros de dados que são guardados pelo seu navegador no seu terminal, para guardar determinada informação. Quando voltar a aceder ao nosso site a partir do mesmo terminal, a informação guardada nos cookies será novamente enviada para o nosso site (“cookies originais”) ou para outro site ao qual os cookies pertencem (“cookies de terceiros”).
        Através da informação que é guardada e devolvida, o respectivo site reconhece que já acedeu ao site e o visitou através do navegador que usa no seu terminal. Utilizamos esta informação para conceber e exibir o site de forma optimizada, indo ao encontro das suas preferências. Assim, apenas os próprios cookies são identificados no seu terminal. Para além disso, os seus dados pessoais apenas serão guardados mediante o seu consentimento expresso ou se tal for estritamente necessário para que possa usufruir dos serviços oferecidos e aos quais acedeu.
    </p>
    <p>

        2. Consentimento para o uso de cookies
    </p>
    <p>
        Os cookies que não são estritamente necessários para que possa usufruir dos serviços no nosso site (para mais informações relativamente aos cookies estritamente necessários, consulte o ponto 3.a.) apenas serão usados após o seu consentimento. Ao utilizar activamente o nosso site está a consentir o uso de cookies, se continuar a navegar no nosso site depois de a barra de cookies ter sido exibida.
    </p>
    <p>

        Poderá configurar as suas definições de cookies individualmente, a qualquer momento, desactivando ou activando as categorias individuais de cookies. Para mais informações sobre como desactivar cookies em geral no seu navegador (incl. os cookies estritamente necessários), consulte o ponto 4.
    </p>
    <p>

        3. Tipos de cookies
    </p>
    <p>
        Consoante o seu propósito e a sua função, subdividimos os cookies nas seguintes categorias:
    </p>
    <p>
        (i)   Cookies estritamente necessários;
    </p>
    <p>
        (ii)  Cookies de funcionalidade; e
    </p>
    <p>
        (iii) Cookies de desempenho.
    </p>
    <p>

        a. Cookies estritamente necessários;
    </p>
    <p>
        Os cookies estritamente necessários asseguram as funções sem as quais não é possível utilizar as nossas páginas conforme pretendido. Estes cookies apenas são utilizados por nós e, portanto, são “cookies originais”. Isto significa que toda a informação que está guardada nos cookies é enviada de volta para o nosso site.
        Os cookies estritamente necessários destinam-se, por exemplo, para assegurar que tem sempre sessão iniciada como utilizador registado quando acede às várias subpáginas do nosso site, não necessitando de iniciar sessão de cada vez que acede a uma página nova.
        O uso de cookies estritamente necessários no nosso site não requer o seu consentimento. Por esse motivo, não é possível activar ou desactivar individualmente os cookies estritamente necessários. Essa função apenas está disponível para os cookies que requerem o seu consentimento, ou seja, para os cookies de funcionalidade e os cookies de desempenho. No entanto, tem a opção de desactivar os cookies em geral no seu navegador, a qualquer momento (consulte o ponto 4).
    </p>
    <p>

        b. Cookies de funcionalidade
    </p>
    <p>

        Os cookies de funcionalidade permitem ao nosso site guardar informações que já foram fornecidas (por exemplo, o nome registado ou o idioma seleccionado) e, com base nisso, oferecer-lhe funcionalidades optimizadas e personalizadas. Estes cookies apenas recolhem e guardam informação anónima, pelo que não seguem as suas actividades noutros sites.
    </p>
    <p>

        c. Cookies de desempenho
    </p>
    <p>
        Os cookies de desempenho recolhem informação sobre como as nossas páginas são utilizadas, para que possamos melhorá-las em termos de atractividade, conteúdo e funcionalidade. Estes cookies ajudam-nos, por exemplo, a perceber se são visitadas algumas subpáginas do nosso site, e quais, e qual o tipo de conteúdo que suscita maior interesse aos utilizadores. Registamos, especialmente, o número de vezes que uma página é acedida, o número de subpáginas que são acedidas, o tempo que um utilizador passa no nosso site, a sequência das páginas visitadas, as palavras-chave através das quais o utilizador chegou ao nosso site, o país, a região e, se aplicável, a cidade a partir da qual as páginas são acedidas, assim como a quantidade de terminais móveis que acedem às nossas páginas. Além disso, registamos também as actividades, os “cliques” e o deslocamento que é feito com o rato do computador, para que possamos perceber quais as áreas do nosso site que suscitam maior interesse aos utilizadores. Deste modo, podemos ajustar o conteúdo do nosso site às necessidades dos nossos utilizadores, de forma orientada, e melhorar a nossa oferta. O endereço IP do seu computador, transmitido por motivos técnicos, é automaticamente anonimizado e não nos permite tecer quaisquer conclusões acerca do utilizador individual.
        Reservamo-nos o direito de usar as informações que obtivermos dos cookies e uma análise anónima do seu padrão de utilização das nossas páginas, a fim de exibir publicidade específica para alguns dos nossos produtos no nosso site. Acreditamos que esta acção beneficia-o, enquanto utilizador, porque passamos publicidade ou conteúdos que acreditamos corresponderem aos seus interesses – com base no seu comportamento de navegação – pelo que verá menos publicidade exibida aleatoriamente e menos conteúdos que não são do seu interesse.
    </p>
    <p>

        Como empresa, submetemo-nos voluntariamente a auto-regulamentação por parte do Conselho de Protecção de Dados Português.
    </p>
    <p>

        4. Gerir e apagar todos os cookies
    </p>
    <p>
        Poderá configurar o seu navegador de Internet para impedir o armazenamento de cookies no seu disco rígido e/ou ser sempre questionado se concorda com a colocação de cookies. Poderá apagar os cookies que foram colocados no seu disco rígido a qualquer momento.
        Tenha em consideração que, por norma, a desactivação de cookies poderá ter como consequência restrições de funcionamento do nosso site.
    </p>
</div>