@using InsuranceWebsite.Models
@model HomeViewModel

@{
    ViewBag.Title = Resources.Resources.HomePageTitle;
}

@*@Html.Partial("~/Views/Home/Partial/NavBar.cshtml", Model)*@

<!-- Timeline content -->

<div class="container" @*style="margin-top:50px;"*@>

    <div class="col-md-12 no-paddin-xs" style="background-color:gainsboro">

        <div class="row">

            @Html.Partial("~/Views/Home/Partial/SideNavBar.cshtml", Model)
            @*@Html.Partial("~/Views/Home/Partial/LeftBar.cshtml", Model)*@

            <!-- right  content-->

            @Html.Partial("~/Views/Home/Partial/Notifications.cshtml", Model)

            <!--end right  content-->

            @Html.Partial("~/Views/Home/Partial/RightBar.cshtml", Model)

        </div>

    </div>

</div><!-- end timeline content-->

@Html.Partial("~/Views/Home/Partial/Footer.cshtml", Model)
