@{
    ViewBag.Title = "Privacy Policy";
}

@{
    Layout = "~/Views/Shared/_AnonymousLayout.cshtml";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>1. Instituição responsável

A instituição responsável pela recolha, tratamento e utilização de dados pessoais nos termos da Comissão Nacional de Protecção de Dados (CNPD) é:

33 SOLUTIONS, LDA
Morada____________
T: +351 ___________________

E: geral@33solutions, pt


Esta declaração de privacidade de dados pessoais tem como objectivo divulgar informações sobre a recolha, tratamento e utilização (doravante denominada “utilização”) dos dados pessoais.

2. Recolha e utilização de dados pessoais

Os dados pessoais são informações que o permitem identificar, tais como o nome, e-mail ou endereço. A 33 SOLUTIONS, LDA  recolhe os seus dados pessoais com consentimento para a sua utilização.
Armazenamos, utilizamos ou transferimos os seus dados pessoais apenas com o seu consentimento e em situações específicas (no que respeita ao conteúdo e tempo) como, por exemplo, para responder às suas perguntas, pedidos de informações ou para informá-lo.
Para isso, a 33 SOLUTIONS, LDA  poderá ter que transferir os seus dados pessoais para outras empresas dentro do grupo 33 SOLUTIONS, LDA ou  para prestadores de serviço externos, a fim de efectuarem o processamento dos dados.  A 33 SOLUTIONS, LDA exige que as partes subcontratadas concordem em processar os dados pessoais de acordo com as instruções dadas e em conformidade com este aviso de protecção de dados.
Qualquer outra transferência dos seus dados pessoais, por exemplo, a transferência de dados de início de sessão do nosso site para um site de terceiros ou para um serviço web, tais como o Facebook ou Twitter, exige o seu consentimento prévio explícito. A 33 SOLUTIONS, LDA  garante que não irá vender ou alugar os seus dados pessoais a terceiros. No entanto, podemos ter que divulgar informações suas, caso sejamos obrigados a fazê-lo por lei ou em resposta a solicitações governamentais aplicáveis.

	a. Criação de um perfil de utilizador com base na conta de cliente 33 SOLUTIONS, LDA

“Estou de acordo com a criação de um perfil de utilizador de modo a compilar conteúdo personalizado. Li a declaração de privacidade de dados. Este consentimento poderá ser revogado a qualquer momento -
	Consentimento modelo.

Se concordou com a criação de um perfil de utilizador utilizando a declaração modelo apresentada acima, utilizaremos os seus dados das seguintes formas:
- Como cliente 33 SOLUTIONS, LDA registado, criamos um perfil de utilizador para si, onde serão guardadas todas as suas utilizações anteriores e futuras no nosso site. O seu perfil de utilizador personalizado permite-nos oferecer-lhe conteúdos altamente individualizados relativamente aos nossos produtos e serviços. Poderá aceder e visualizar todos os componentes e conteúdos do seu perfil de utilizador a qualquer momento. Como utilizador registado, poderá também submeter avaliações relativa á prestação de informação. Relativamente a este ponto, exibiremos os seus primeiros nomes e a avaliação que submeteu.
Se desejarmos utilizar os dados armazenados na sua conta de utilizador para outros fins, iremos sempre solicitar o seu consentimento adicional explícito.
Caso não pretenda continuar com uma conta de cliente 33 SOLUTIONS, LDA , esta poderá ser eliminada a qualquer momento. Para isso, inicie sessão na sua conta de cliente e realize o processo de cancelamento.
3. Período de armazenamento dos seus dados pessoais
Os dados fornecidos serão armazenados apenas durante o período necessário para realizar as respectivas finalidades, para as quais nos transmitiu os seus dados ou para o cumprimento das disposições legais.  Poderá revogar o seu consentimento a qualquer momento, passando a vigorar no futuro.

4. Transmissão limitada dos dados

Poderá ser necessário para a 33 SOLUTIONS, LDA, durante o processamento do seu pedido, transmitir os seus dados pessoais a outras empresas como por exemplo, a um prestador de serviços externo. A 33 SOLUTIONS, LDA  exige a todas as empresas sub contratadas e ou seus prestadores de serviço externos que utilizem os seus dados pessoais exclusivamente de acordo com as nossas especificações e em conformidade com esta declaração de privacidade de dados, bem como com os requisitos legais relativos ao processamento de dados.
De outro modo, não transmitimos dados pessoais a terceiros sem a sua autorização, assim como não os vendemos ou alugamos. Contudo, reservamo-nos o direito de divulgar informações suas caso sejamos obrigados a fazê-lo por lei ou em resposta a qualquer exigência das autoridades competentes ou instituições responsáveis pela aplicação da lei.

5. Informação guardada automaticamente quando visita os nossos sites/utilização de cookies
Nos nossos sites são utilizados cookies. Os cookies são pequenas unidades de dados armazenadas no disco rígido do seu computador pelo seu navegador.

a. COOKIES
Para facilitar a utilização do nosso site, utilizamos “cookies”. Os cookies são pequenas unidades de dados armazenadas no disco rígido do seu computador pelo seu navegador, que são necessárias para a utilização do nosso site. Utilizamos cookies para compreender melhor como o nosso site é utilizado e para permitir uma navegação melhorada. Os cookies ajudam a determinar, por exemplo, se uma página do nosso site já foi visitada. Os cookies também poderão indicar se já visitou o nosso site antes ou se é um novo visitante. Os cookies que utilizamos não armazenam os dados pessoais nem recolhem informações de identificação pessoal. Se não desejar receber cookies, configure o seu navegador para apagar todos os cookies do disco rígido do seu computador, para bloquear todos os cookies ou para receber um aviso antes que um cookie seja armazenado.
Como utilizador registado, tem a possibilidade de iniciar sessão no nosso site com os seus dados de registo. Neste caso, também utilizamos cookies para podermos identificá-lo como cliente registado quando visita novamente o nosso site num prazo de 28 dias e para permitir que permaneça com sessão iniciada.

b. Cookies de publicidade comportamental online
Reservamo-nos o direito de utilizar informações obtidas através de cookies a partir de uma análise do comportamento de utilização dos visitantes dos nossos sites, a fim de exibir publicidade específica para alguns dos nossos produtos nos nossos sites. Acreditamos que esta acção beneficia-o, enquanto utilizador, porque passamos publicidade ou conteúdos que acreditamos corresponderem aos seus interesses – com base no seu comportamento de navegação – pelo que verá menos publicidade exibida aleatoriamente e menos conteúdos que não são do seu interesse.
Como empresa, submetemo-nos voluntariamente a auto-regulamentação por parte da A Comissão Nacional de Protecção de Dados.

c. Como prevenir que os cookies sejam armazenados no seu disco rígido e/ou eliminá-los
Poderá configurar o seu navegador de Internet de modo a prevenir que os cookies sejam armazenados no seu disco rígido e/ou para que seja sempre solicitada a sua autorização antes de permitir os cookies. Poderá apagar os cookies que foram colocados no seu disco rígido a qualquer momento. Poderá encontrar informação mais detalhada na função “Ajuda” do seu navegador. Na seguinte ligação, encontra uma explicação em texto e imagens para os navegadores de Internet Firefox, Microsoft Internet Explorer e Google Chrome:____________________________. Se não permitir que os cookies sejam armazenados, isto poderá ter como consequência restrições de funcionamento do nosso site.

6. Plug-ins sociais/integração através de Shariff
Nos nossos sites são utilizados plug-ins sociais (“plug-ins”) das redes sociais, nomeadamente os botões “Partilhar” ou “Partilhar com amigos” do fornecedor “Facebook“, cujo site facebook.com é explorado pela Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA. Facebook Ireland Limited, Hanover Reach, 5-7 Hanover Quay, Dublin 2, Ireland é a responsável pelo site portugues facebook.com. Os plug-ins estão normalmente assinalados com um logótipo do Facebook. Para além do Facebook, utilizamos plug-ins do “Google+” (fornecedor: Google Inc., Amphitheatre Parkway, Mountain View, CA 94043, USA), “Twitter” (fornecedor: Twitter, Inc., 1355 Market St, Suite 900, San Francisco, CA 94103) e “Pinterest” (fornecedor: Pinterest Inc., 808 Brannan Street San Francisco, CA 94103, USA).
Por razões de privacidade de dados, decidimos deliberadamente não utilizar plug-ins directos de redes sociais nos nossos sites. Em vez disso, utilizamos a solução “Shariff”. Com a ajuda de Shariff, conseguimos determinar quando e se os dados deverão ser transmitidos ao operador das respectivas redes sociais. Por esta razão, se aceder ao nosso site, nenhum dado será transmitido automaticamente às redes sociais, tais como o Facebook, Google+, Twitter ou Pinterest. O navegador de Internet apenas cria uma conexão com o respectivo servidor da rede social quando o utilizador clicar no respectivo botão. Ou seja, se clicar no respectivo botão (p. ex., “Recomendar”, “Partilhar” ou “Partilhar com amigos”) concorda que o seu navegador de Internet crie uma hiperligação para o respectivo servidor da rede social e transmita dados de utilização para o respectivo operador da rede social.
Não temos qualquer influência sobre a natureza e a extensão dos dados que são recolhidos pelas redes sociais. Para mais informações relativamente à finalidade e ao âmbito da recolha e futuro processamento de dados de utilização pelas respectivas redes sociais, assim como relativamente aos seus direitos e opções de configurações para protecção da sua privacidade, consulte a política de privacidade de dados das respectivas redes sociais – para o Facebook, em https://www.facebook.com/about/privacy/ e http://www.facebook.com/help/?faq=186325668085084. Informações adicionais sobre a utilização de dados pela “Google+” ou “Twitter” em https://www.google.com/policies/privacy/ ou https://twitter.com/privacy?lang=en e para o Pinterest em https://about.pinterest.com/en/privacy-policy.

8. Início de sessão nas redes sociais
Ao registar-se ou iniciar sessão na conta de cliente 33 solutions, lda, existe também a possibilidade de se autenticar e posteriormente registar ou iniciar sessão com o seu perfil de uma das seguintes redes sociais: Facebook, Twitter ou Google+.

Para isso, poderá encontrar os símbolos correspondentes dos respectivos fornecedores das redes sociais suportados pelo nosso site na página de registo ou na página de início de sessão. Antes de ser estabelecida uma conexão ao fornecedor, terá que declarar explicitamente que concorda com o processo e transmissão dos dados seguidamente descritos:
ao clicar no respectivo símbolo é exibida uma nova janela (App), onde poderá iniciar sessão na rede social com os seus dados de início de sessão. Depois de iniciar sessão com sucesso, a rede social informa-o sobre que dados (nome e endereço de e-mail) nos são transmitidos para a autenticação no âmbito do processo de registo ou início de sessão. Caso concorde com a transmissão destes dados, os nossos campos obrigatórios para se registar ou iniciar sessão são preenchidos com os dados transmitidos. Os dados por nós exigidos para se registar ou iniciar sessão são (i) o seu nome e (ii) o seu endereço de e-mail.
Os seus dados apenas serão armazenados por nós e utilizados para os efeitos citados no ponto 2 quando concordar explicitamente com a utilização dos dados transmitidos e exigidos. Não é estabelecida nenhuma ligação entre a conta de cliente 33 SOLUTIONS, LDA, configurada por nós e a sua conta na respectiva rede social através do processo de autenticação.
Para efectuar o processo de autenticação quando se regista ou inicia sessão, o seu endereço IP é transmitido para o respectivo fornecedor da rede social. Não temos qualquer influência sobre a finalidade e o âmbito da recolha e futuro processamento dos dados pelo respectivo fornecedor da rede social. Para informações adicionais a este respeito, leia a política de privacidade de dados do respectivo fornecedor.

Política de privacidade de dados do Facebook - https://www.facebook.com/about/privacy/

Política de privacidade de dados do Google+ - https://www.google.com/policies/privacy/
Política de privacidade de dados do Twitter - https://twitter.com/privacy?lang=en

9. Contacto, pedido de informações, revogação, bloqueio, eliminação
A qualquer momento e de forma gratuita poderá opor-se à utilização dos seus dados pessoais, proceder à parcial ou total eliminação ou bloqueio, ou pedir informações/rectificações relativamente aos seus dados pessoais armazenados por nós. Não é necessário preencher um formulário especial. Pode, por exemplo, escrever-nos por e-mail para _________________________ no site.

10. Segurança dos dados
Temos implementadas medidas técnicas e organizacionais adequadas para proteger os seus dados contra perda, modificação, roubo ou o acesso por terceiros. Os nossos procedimentos de segurança são regularmente melhorados, de modo a reflectir o progresso tecnológico.

11. Actualizações e alterações
Podemos alterar ou actualizar partes da declaração de privacidade de dados sem aviso prévio. Consulte regularmente a declaração de privacidade de dados antes de utilizar o nosso site, para ficar a par das alterações e actualizações efectuadas. Última actualização da declaração de privacidade de dados: DEZEMBRO de 2017.
</p>
