@{
    ViewBag.Title = "Terms & Conditions";
}

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p> 1.	Dados Pessoais
    Consulte a nossa Política de Privacidade sobre questões de privacidade de dados.

    2. Conteúdo
    No site www.33SOLUTIONS.pt , são utilizados materiais, tais como imagens, fotografias, gráficos, logótipos, vídeos, filmes, ficheiros de áudio e texto (o “material”). O material é propriedade da 33 SOLUTIONS, LDA e está protegido pelas disposições legais relativas aos direitos de autor, direito de marca comercial e direito de design, assim como pelos direitos pessoais existentes ao abrigo do direito português e internacional.  Qualquer utilização do material para além do uso estritamente particular obriga a uma autorização prévia por escrito da 33 SOLUTIONS, LDA.

    3. Isenção de responsabilidade
    A transferência de material ou a utilização do mesmo para outros fins é da total responsabilidade do utilizador. A 33 SOLUTIONS, LDA não assume nenhuma responsabilidade por quaisquer perdas do utilizador daí resultantes, em especial relativamente a dados, hardware ou software. A responsabilidade pela negligência intencional ou grave permanece inalterada. A 33 SOLUTIONS, LDA não assume nenhuma responsabilidade por qualquer violação de direitos de terceiros.

    As informações contidas neste site foram compiladas e confirmadas com todas as devidas precauções. No entanto, a 33 SOLUTIONS, LDA  não assume qualquer responsabilidade pela sua exactidão, actualidade e integralidade. Este site foi criado para fornecer informações gerais.
    4. Avaliações
    Os utilizadores registados têm a possibilidade de avaliar o conteúdo do site relativamente a prestação de serviços diversos, dinâmica do site ou outros aspectos. Se o utilizador fizer uma avaliação, este concede à 33 SOLUTIONS, LDA  o direito de utilizar a avaliação em qualquer parte e por tempo indeterminado. A 33 SOLUTIONS, LDA  poderá publicar e distribuir a avaliação de forma ilimitada, ou seja, em todas as formas de utilização e meios de comunicação, tanto online como offline. Além disso, a 33 SOLUTIONS, LDA  está autorizada a encurtar a avaliação. Caso o utilizador forneça o seu nome durante a avaliação, a 33 SOLUTIONS, LDA  está autorizada, mas não obrigada, a especificar o nome do utilizador quando publicar a avaliação.

    Quando submeter uma avaliação e/ou um comentário, o utilizador garante também que não fará, conscientemente, uma falsa avaliação nem uma avaliação (a) que viole a Lei dos Direitos de Autor portuguesa ou qualquer outro direito de terceiros; (b) que viole as disposições legais ou decretos oficiais; (c) que seja difamatória, caluniosa, insultuosa ou discriminatória para um indivíduo ou empresa; (d) para a qual tenha recebido um pagamento ou outra forma de retribuição de um terceiro; (e) que contenha informações relativas a outros sites, endereços, endereços de e-mail, informações de contacto ou números de telefone; ou (f) que contenha vírus informáticos ou outros que possam danificar os programas e os ficheiros do computador. A 33 SOLUTIONS, LDA  reserva-se o direito de eliminar qualquer avaliação com conteúdo ilegal, nomeadamente avaliações discriminatórias, avaliações que promovam a violência, avaliações pornográficas ou racistas ou avaliações que contenham correntes de cartas, correio em massa ou outras formas de spam, bem como o direito de não publicar tais conteúdos no site.

    5. Consequências legais
    A 33 SOLUTIONS, LDA  reserva-se o direito de bloquear o acesso do utilizador à área de início de sessão, caso este viole os termos e condições de utilização e/ou quaisquer disposições legais. Neste caso, a utilização desta área deixa de estar autorizada e qualquer utilização futura será considerada ilegítima. A 33 SOLUTIONS, LDA  reserva-se o direito de processar civil ou penalmente qualquer utilização não autorizada ou violação de direitos, nomeadamente a violação dos direitos pessoais, direitos de marcas comerciais, de design, de autor ou outros direitos de propriedade intelectual.

    A invalidade ou a nulidade de um dos termos e condições de utilização não afecta a validade dos restantes termos e condições de utilização. Devido a inovações técnicas e alterações legislativas, estes termos e condições de utilização são revistos periodicamente, mais recentemente em Abril de 2015. Se deseja denunciar alguma violação dos direitos no nosso site, não hesite em contactar-nos através do email :  geral3solutions.pt
</p>
