<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>

<body>
    <div style="text-align:center;font-family: 'Roboto',sans-serif!important;color:#6f7d85;">
        <img src="{URL}/Content/banners/banners_rede_social_falar_seguros_AF3.png" />
        <br />
        <br />
        <h2 style="">Olá {NAME},</h2>
        <br />Foi gerada a informação para pagamento da sua subscrição nos directórios de pesquisa do portal Falar Seguros. O seu registo ficará activo após a realização do pagamento.
        <br />Obrigado.
        <br/>
        <br/>
        <br/>Detalhes de pagamento:
        <br />Entidade: {ENTITY}
        <br />Referência: {REFERENCE}
        <br />Montante: {AMOUNT}€
    </div>
</body>
</html>
