<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>

<body>
    <div style="text-align:center;font-family: 'Roboto',sans-serif!important;color:#6f7d85;">
        <img src="{URL}/Content/banners/banners_rede_social_falar_seguros_AF3.png" />
        <br />
        <br />
        <h2 style="">Olá {NAME},</h2>
        <br />O seu registo nos directórios do portal Falar Seguros foi realizado com sucesso. O registo ficará activo após a realização do pagamento.
        <br />
        <br />Detalhes de pagamento:
        <br />Entidade: {ENTITY}
        <br />Referência: {REFERENCE}
        <br />Montante: {AMOUNT}€
        <br />
        <br />
        <br />Os seus dados de acesso ao portal, após pagamento e registo activo, são os seguintes:
        <br />Utilizador: {USERNAME}
        <br />Palavra-passe: {PASSWORD}
        <br />
        <br />Obrigado.
        <br/>
    </div>
</body>
</html>
