@using InsuranceSocialNetworkDTO.Notification;
@model InsuranceWebsite.Models.NotificationItemsViewModel

@Html.HiddenFor(m => m.Items)
@Html.HiddenFor(m => m.Profile)


@foreach (NotificationDTO notification in Model.Items)
{
    switch (notification.NotificationType.Token)
    {
        case "COMPLETE_PROFILE_INFO":
            <div class="panel panel-white post panel-shadow animated fadeInUp">
                <div class="post-heading">
                    <div class="pull-left image">
                        <img src="img/Friends/guy-3.jpg" class="avatar" alt="user profile image">
                    </div>
                    <div class="pull-left meta">
                        <div class="title h5">
                            You need to complete your <a href="#">Profile</a>
                        </div>
                        <h6 class="text-muted time">5 seconds ago</h6>
                    </div>
                </div>
            </div>
            break;
        case "NEW_POST_LIKE":
            <div class="panel panel-white post panel-shadow animated fadeInUp">
                <div class="post-heading">
                    <div class="pull-left image">
                        <img src="img/Friends/guy-3.jpg" class="avatar" alt="user profile image">
                    </div>
                    <div class="pull-left meta">
                        <div class="title h5">
                            <a href="#" class="post-user-name">Jonathan Smith</a>
                            liked your <a href="#">Post</a>
                        </div>
                        <h6 class="text-muted time">5 seconds ago</h6>
                    </div>
                </div>
            </div>
            break;
        case "NEW_POST_COMMENT":
            <div class="panel panel-white post panel-shadow animated fadeInUp">
                <div class="post-heading">
                    <div class="pull-left image">
                        <img src="img/Friends/guy-3.jpg" class="avatar" alt="user profile image">
                    </div>
                    <div class="pull-left meta">
                        <div class="title h5">
                            <a href="#" class="post-user-name">Jonathan Smith</a>
                            commented your <a href="#">Post</a>
                        </div>
                        <h6 class="text-muted time">5 seconds ago</h6>
                    </div>
                </div>
            </div>
            break;
        case "NEW_MESSAGE_RECEIVED":
            break;
        case "FRIEND_REQUEST_RECEIVED":
            <div class="panel panel-white post panel-shadow animated fadeInUp">
                <div class="post-heading">
                    <div class="pull-left image">
                        <img src="img/Friends/guy-3.jpg" class="avatar" alt="user profile image">
                    </div>
                    <div class="pull-left meta">
                        <div class="title h5">
                            <a href="#" class="post-user-name">Jonathan Smith</a>
                            sent you a <a href="#">Friend Request</a>
                        </div>
                        <h6 class="text-muted time">5 seconds ago</h6>
                    </div>
                </div>
            </div>
            break;
        case "FRIEND_REQUEST_ACCEPTED":
            <div class="panel panel-white post panel-shadow animated fadeInUp">
                <div class="post-heading">
                    <div class="pull-left image">
                        <img src="img/Friends/guy-3.jpg" class="avatar" alt="user profile image">
                    </div>
                    <div class="pull-left meta">
                        <div class="title h5">
                            <a href="#" class="post-user-name">Jonathan Smith</a>
                            accepted your <a href="#">Friend Request</a>
                        </div>
                        <h6 class="text-muted time">5 seconds ago</h6>
                    </div>
                </div>
            </div>
            break;
    }
}

<script type="text/javascript">
    function KeypressHandler(e) {
    alert('key pressed!');
    if (e.which == 13) {
        e.preventDefault(); //stops default action: submitting form
            $(this).blur();
            $('#SubmitButton').focus().click();//give your submit an ID
    }
}
</script>