@using InsuranceWebsite.Models
@model HomeViewModel

<style>
    .panel{
        margin-bottom: 4px !important;
    }
</style>

<div class="profile-info col-md-6 animated fadeInUp">

    @Html.Partial("./Partial/TopBannerPartialView", Model)

    <div class="panel topPanel">
        <div style="width:33%;">
            <div>
                <img src="~/Content/icons/icons_perfil_rede_social_falar_seguros_v23.png" />
            </div>
            <div>@Resources.Resources.Contacts</div>
        </div>
        <div style="width:34%;">
            @if (null == Model.Profile || null == Model.Profile.ProfilePhoto || Model.Profile.ProfilePhoto.Length == 0)
            {
                <img src="~/Content/images/no_photo_img.jpg" class="mini-avatar item-photo">
            }
            else
            {
                <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.Profile.ProfilePhoto))" class="mini-avatar item-photo">
            }
        </div>
        <div style="width:33%;">
            <div>
                <img src="~/Content/icons/icons_perfil_rede_social_falar_seguros_v23.png" />
            </div>
            <div>@Resources.Resources.Contacts</div>
        </div>
    </div>

    <div class="panel panel-white">
        <h1>Informação sobre o utilizador</h1>
    </div>

    <div class="panel panel-white">
        <h1>Links redes sociais</h1>
    </div>

    <div class="panel panel-white">
        <h1>Data nascimento</h1>
    </div>

    <div class="panel panel-white">
        <h1>Sobre mim</h1>
    </div>

    <div class="panel panel-white">
        <h1>Seguradoras com quem trabalha</h1>
    </div>

    <div class="panel panel-white">
        <h1>Informaçao de contacto</h1>
    </div>

</div>


<script type="text/javascript">

    $(document).ready(function () {
        
    });

</script>
