@using InsuranceSocialNetworkDTO.Banner;
@using InsuranceWebsite.Models
@model HomeViewModel

@if (null != Model.TopBanners && Model.TopBanners.Count > 0)
{
    <div class="bannerPanel" id="rotator">
        @foreach (BannerDTO banner in Model.TopBanners)
        {
            <div>
                @if (!string.IsNullOrEmpty(banner.Url))
                {
                <a href="@banner.Url" target="_blank">
                    <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(banner.Image))" class="bannerPanel" />
                </a>
                }
                else
                {
                <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(banner.Image))" class="bannerPanel" />
                }
            </div>
        }
    </div>

    if (Model.TopBanners.Count > 1)
    {
        <script type="text/javascript">

            $(document).ready(function () {
                startRotator("#rotator");
            });

            function rotateBanners(elem) {
                var active = $(elem + " div.active");
                var next = active.next();
                if (next.length == 0)
                    next = $(elem + " div:first");
                active.removeClass("active").fadeOut(400);
                next.addClass("active").fadeIn(400);                
            }

            function prepareRotator(elem) {
                $(elem + " div").fadeOut(0);
                $(elem + " div:first").fadeIn(0).addClass("active");
            }

            function startRotator(elem) {
                prepareRotator(elem);
                setInterval("rotateBanners('" + elem + "')", 5000);
            }

            function sleep(ms) {
                return new Promise(resolve => setTimeout(resolve, ms));
            }

        </script>
    }
}
else
{
    <div class="bannerPanel" id="rotator">
        <img src="~/Content/banners/banners_rede_social_falar_seguros_AF1.png" class="bannerPanel" />
    </div>
}

