@using InsuranceWebsite.Models
@model RegisterViewModel
@{
    ViewBag.Title = "Register Confirmation";
}

@{
    Layout = "~/Views/Shared/_RegisterConfirmationLayout.cshtml";
}


<!-- register and login form-->

<table class="table-row" width="100%" bgcolor="transparent" style="table-layout: fixed; background-color: #ffffff; @*max-width: 580px;*@" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td class="table-row-td" style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal; padding-left: 24px; padding-right: 24px;" valign="top" align="left">
                <table class="table-col" align="left" width="100%" cellspacing="0" cellpadding="0" border="0" style="table-layout: fixed; @*max-width: 532px;*@">
                    <tbody>
                        <tr>
                            <td class="table-col-td" width="100%" style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal; @*max-width: 532px;*@" valign="top" align="left">
                                <div style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; text-align: center;">
                                    <img src="img/email_text.png" style="border: 0px none #444444; vertical-align: middle; display: block; padding-bottom: 9px;" hspace="0" vspace="0" border="0">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<table class="table-row" width="100%" bgcolor="transparent" style="table-layout: fixed; background-color: #ffffff; @*max-width: 580px;*@" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td class="table-row-td" style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal; padding-left: 36px; padding-right: 36px;" valign="top" align="left">
                <table class="table-col" align="left" width="100%" cellspacing="0" cellpadding="0" border="0" style="table-layout: fixed; @*max-width: 508px;*@">
                    <tbody>
                        <tr>
                            <td class="table-col-td" width="100%" style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px; font-weight: normal; @*max-width: 508px;*@" valign="top" align="left">
                                <table class="header-row" width="100%" cellspacing="0" cellpadding="0" border="0" style="table-layout: fixed; @*max-width: 508px;*@">
                                    <tbody>
                                        <tr>
                                            <td class="header-row-td" width="100%" style="font-size: 28px; margin: 0px; font-family: Arial, sans-serif; font-weight: normal; line-height: 19px; color: #478fca; padding-bottom: 10px; padding-top: 15px; @*max-width: 508px;*@" valign="top" align="left">Hi, @Model.Name</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div style="font-family: Arial, sans-serif; line-height: 19px; color: #444444; font-size: 13px;">@Resources.Resources.ThanksForRegister @Resources.Resources.CheckYourEmailToGetAccess</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

