<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div style="text-align:center;font-family: 'Roboto',sans-serif!important;color:#6f7d85;">
        <img src="../../../Content/banners/banners_rede_social_falar_seguros_AF3.png" />
        <br />
        <br />
        <h2 style="">Olá {NAME},</h2>
        <br />Foi solicitada uma recuperação de palavra-chave da sua conta no portal Falar Seguros.
        <br />
        <br />Para alterar a sua palavra-chave clique <a href="{URL}" title="Alteração de Palavra-Chave">aqui</a> e defina a sua nova palavra-chave.
        <br/>
        <br/>Obrigado.
    </div>
</body>
</html>
