<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div style="text-align:center;font-family: 'Roboto',sans-serif!important;color:#6f7d85;">
        <img src="../../../Content/banners/banners_rede_social_falar_seguros_AF3.png" />
        <br />
        <br />
        <h2>Olá {NAME},</h2>
        <br />Obrigado por se registar no portal Falar Seguros!
        <br />
        <br />A sua password de acesso ao portal é: {PASSWORD}
        <br />
        <br />Queira por favor clicar no seguinte link para concluir o seu processo de registo e usufruir da plataforma Falar Seguros: <a href="{URL}" title="Confirmação Registo">confirme o seu registo aqui</a>.
    </div>
</body>
</html>
