<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div style="text-align:center;font-family: 'Roboto',sans-serif!important;color:#6f7d85;">
        <img src="../../../Content/banners/banners_rede_social_falar_seguros_AF3.png" />
        <br />
        <br />
        <h2 style="">Olá {NAME},</h2>
        <br />Obrigado por se registar no portal Falar Seguros!
        <br />
        <br />O seu registo está activo. Para aceder à plataforma Falar Seguros clique <a href="{URL}" title="Confirmação Registo">aqui</a> e use o seu e-mail e palavra-passe para iniciar sessão.
    </div>
</body>
</html>
